<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @skill.title %>
</p>
<ul>
  <% @skill.employees.each do |employee| %>
    <li><%= link_to employee.name, employee %><li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
