<%= form_for(buisness_unit) do |f| %>
  <% if buisness_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(buisness_unit.errors.count, "error") %> prohibited this buisness_unit from being saved:</h2>

      <ul>
      <% buisness_unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
